/*
	Nathan Wallace 
	07/30/2019
*/

p {
	
}

ul {
	
}

ul li {
	
}

.location {

}

#wrapper {
	padding:0px
}

#wrapper[style*="padding: 20px"] {
	padding:2px !important; 
}

#wrapper h1 {
	display:none;
}

#wrapper h3 {
	display:none;
}

#wrapper h4 {
	display:none
}

#board_title {
	display:none
}

.opening a {
	color: #003262;	
}

.opening {
	text-align: center;
}

.opening a:hover {
	color: #ffcb05;	
}

.filter-container {
	display: none;
}

#app_body {
}

#application {
}
.app-title {
}
.heading {
}
.company-name {
	display:none;
}
.field label {
}
.field textarea {
}
.field select{
}
.field input[type='text'] {
}
.button {
}

.button:not(.btn-light):not(.light-bg-btn):not(.outline-btn):not(.outline-bg-btn):not(.btn-custom-style) {
  background-color: #ffcb05;
  background-image: none;
  background: #ffcb05;
  background: -webkit-linear-gradient("");
  background: linear-gradient("");
}
.button:not(.btn-light):not(.light-bg-btn):not(.outline-btn):not(.outline-bg-btn):not(.btn-custom-style):hover {
  background: none;
  background: #003262;
  background: -webkit-linear-gradient("");
  background: linear-gradient("");
}

a, input[type='button'].link-like-button{
}
















